<div class="content" id="parent">
    <div class="channelView personal clearfix" infinite-scroll="loadmore()" infinite-scroll-distance="7" infinite-scroll-container="'#parent'" infinite-scroll-parent="true">
        <header class="channelHeader justify">
            <div ng-if="stream.buddycloud.data.currentnode=='recent'">
                <img src="assets/icons/buddycloud_logo.png"/>
            </div>
            <div ng-show="stream.buddycloud.data.currentnode!=='recent'"> 
                <div ng-repeat="item in stream.buddycloud.data.config" ng-if="item.var=='pubsub#owner'" class="avatar big" style="background-image:url('{{stream.buddycloud.data.currentnode|gravatar}}');"></div>
                <div class="flex titleText">
                    <h2 class="owner" ng-repeat="item in stream.buddycloud.data.config" ng-if="item.var=='pubsub#title'">{{item.value}}</h2>
                    <div class="about" ng-repeat="item in stream.buddycloud.data.config" ng-if="item.var=='pubsub#description'">{{item.value}}</div>

                </div>
                <nav class="inChannel">
                    <!--<span class="messages button newMessage">
        <span class="holder">Messages</span><span class="message counter">2</span>
      </span>-->
                    <span class="channel button">
        <span class="holder">Channel</span>
                    </span>
                    <span class="hidden save button">Save</span>
                    <!--<span class="edit button">Edit</span>-->
                    <div ng-show="node!=='recent'" class="actionbutton">
                        <span class="button" ng-show="stream.buddycloud.unsubscribe" ng-click="stream.buddycloud.unsubscribe({node:node});">Unfollow</span>
                        <span class="button" ng-show="stream.buddycloud.subscribe" ng-click="stream.buddycloud.subscribe({node:node});">Follow</span>
                        <span class="button" ng-show="stream.buddycloud.config" ng-click="showconfigform=!showconfigform">Config</span>
                    </div>
                </nav>
            </div>
            <a href="http://www.buddycloud.com/" id="poweredby">powered by buddycloud</a>
            <a href="http://datenkueche.com/" target="_blank" id="logo"><img src="assets/icons/logoklein.png"/></a>
        </header>
        <div class="centered start">
            <section class="stream private clearfix buddycloud">
                <buddycloud node="{{node}}" jid="jid" changenode="changenode(node,bc)" oninit="initbuddycloud(scope)"></buddycloud>
            </section>
            <!-- /stream -->
            <div class="channelDetails" ng-class="{'collapsed':channeldetailshidden}">
                <div class="infoToggle" ng-click="channeldetailshidden=!channeldetailshidden">
                    <h4 class="title">Info</h4>
                    <span class="icon"></span>
                </div>
                <div class="holder">
                    <section class="meta">
                        <p class="address">
                            <span class="title">Address:</span>
                            <span class="data" ng-click="openchat(node)">{{nodeuser.user}}@{{nodeuser.domain}} ✉</span>
                        </p>
                        <p class="open">
                            <span class="title">This Channel is:</span>
                            <span class="data accessModel" ng-repeat="item in stream.buddycloud.data.config" ng-if="item.var=='pubsub#access_model'">{{item.value}}</span>
                        </p>
                        <p class="broadcast">
                            <span class="title">Broadcasting since:</span>
                            <span ng-repeat="item in stream.buddycloud.data.config" ng-if="item.var=='pubsub#creation_date'" am-time-ago="item.value"></span>
                        </p>
                    </section>


                    <!-- subscribers -->
                    <section class="channelList">
                        <div ng-repeat="(key,node) in stream.buddycloud.data.affiliations[stream.buddycloud.data.currentnode]">
                            <h3>{{key}}  <span class="count">{{node.length}}</span></h3>
                            <div class="btn-group" dropdown is-open="status.isopen" ng-repeat="item in node">
                                <div class="list dropdown-toggle" dropdown-toggle style="background-image:url('{{item.jid|gravatar}}');background-size:cover;width:30px;height:30px;border:1px solid black;display:inline-block;margin:4px" xxxxng-click="console.log('click');stream.buddycloud.open({'node':'/user/'+item.jid.user+'@'+item.jid.domain+'/posts'})" title="{{item.jid.user+'@'+item.jid.domain}}"></div>


                                <ul class="dropdown-menu" role="menu">
                                    <li><a ng-href ng-click="stream.buddycloud.open({'node':'/user/'+item.jid.user+'@'+item.jid.domain+'/posts'})">Open Node</a>
                                    </li>
                                    <li><a ng-href ng-click="xmpp.openchat(item.jid.user+'@'+item.jid.domain)">Open Chat</a>
                                    </li>
                                    </li>
                                    <li ng-if="stream.buddycloud.affiliation"><a ng-href ng-click="stream.buddycloud.affiliation(item.jid.user+'@'+item.jid.domain,'publisher')">Make publisher</a>
                                    </li>
                                    <li ng-if="stream.buddycloud.affiliation"><a ng-href ng-click="stream.buddycloud.affiliation(item.jid.user+'@'+item.jid.domain,'member')">Make readonly</a>
                                    </li>

                                    <li ng-if="stream.buddycloud.affiliation" class="divider"></li>
                                    <li ng-if="stream.buddycloud.affiliation"><a ng-href ng-click="stream.buddycloud.affiliation(item.jid.user+'@'+item.jid.domain,'outcast')">Block user</a>
                                </ul>
                            </div>


                        </div>





                    <!-- /followers -->
                </div>
                <!-- /holder -->
            </div>
            <!-- /detail -->
        </div>
    </div>
    <!-- /channelView -->
</div>
