<div class="content">
    <div class="searchbar">
      <form class="centered span-2" ng-submit="find(searchtext)">
        <input type="search" ng-model="searchtext"  name="search" value="Anna" placeholder="Find Channels and Posts" class="withButton">
        <input type="submit" value="Search" class="search button">
      </form>
    </div>
      <div class="discoverChannels clearfix">
        <div class="local span-2">
          <div class="span-1">
            <h2>Channels</h2>
            <div class="list">
              <div class="channel justify" ui-sref="node({node:'/user/lobby@laos.buddycloud.com/posts'})">
                <div class="avatar" style="background-image: url({{'/user/lobby@laos.buddycloud.com/posts'|gravatar}})"></div>
                <div class="info flex">
                  <span class="owner">lobby</span>
                  <span class="about">A good starting point</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify" ui-sref="node({node:'/user/angular-xmpp@laos.buddycloud.com/posts'})">
                <div class="avatar" style="background-image: url({{'/user/angular-xmpp@laos.buddycloud.com/posts'|gravatar}})"></div>
                <div class="info flex">
                  <span class="owner">angular-xmpp</span>
                  <span class="about">Technical staff about angular-xmpp.</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify"  ui-sref="node({node:'/user/simon@denisw.buddycloud.com/posts'})">
                <div class="avatar" style="background-image: url({{'/user/simon@denisw.buddycloud.com/posts'|gravatar}})"></div>
                <div class="info flex">
                  <span class="owner">imaginator</span>
                  <span class="about">Simon Tennant</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
              <div class="channel justify"  ui-sref="node({node:'/user/robotnic@laos.buddycloud.com/posts'})">
                <div class="avatar" style="background-image: url({{'/user/robotnic@laos.buddycloud.com/posts'|gravatar}})"></div>
                <div class="info flex">
                  <span class="owner">robotnic</span>
                  <span class="about">Bernhard Zwischenbrugger</span>
                </div>
                <div class="follow button callToAction">Follow</div>
              </div>
 
              <div class="channel justify" ng-repeat="item in recomondatations.items">
                <div class="avatar" style="background-image: url({{'/user/'+item.jid+'/posts'|gravatar}})"></div>
                <div class="info flex">
                  <span class="owner">{{item.jid}}</span>
                  <span class="about">{{item.description}}</span>
                </div>
                <div class="follow button callToAction disabled">follow</div>
              </div>
            </div>
<pre>
{{recomondatations|json}}
</pre>

          </div>
          <div class="span-1">
            <h2>Posts</h2>
            <div class="list posts">
              <article class="post" ng-repeat="item in findresults.results" ui-sref="node({node:item.node})">
                <section class="opener">
                  <img class="avatar" src="{{item.entry.atom.author.name|gravatar}}" title="{{item.entry.atom.author.name}}">
                  <div class="postmeta">
                    <span lass="date" am-time-ago="item.entry.atom.published"></span>

                  </div>
                  <p>{{item.entry.atom.content.content|json}}</p>
                </section>
              </article>
            </div>
          </div>
        </div>
      </div>
  </div>
