<div ng-show="buddycloud.data " class="buddycloud centered start" tagged-infinite-scroll="getMore()" tagged-infinite-scroll-disabled="fetching || disabled" tagged-infinite-scroll-distance="500">

    <!-- header -->
    <div ng-show="!$parent.showconfigform" class="thediv">
        <div class="streamheader" ng-if="buddycloud.publish && !showconfigform">

        <!-- main post form -->
        <section class="newTopic" ng-class="{'write':write}">
<div class="avatar" style="background-image:url('{{buddycloud.xmpp.data.me.jid|gravatar}}')" title="{{buddycloud.xmpp.data.me.jid.user}}@{{buddycloud.xmpp.data.me.jid.domain}}"></div>

            <form  ng-submit="buddycloud.publish(content);content.atom.content=''">
            <div class="holder">
              <div class="expandingArea active">
                <pre><span></span><br></pre>
                <textarea placeholder="New Topic..." ng-keyup="($event.keyCode == 13 && $event.ctrlKey )? buddycloud.publish(content) : null" ng-model="content.atom.content" ng-focus="$parent.write=true" ng-blur="$parent.write=false" ></textarea>
              </div>
              <div class="controls clearfix">
                <div class="hint">ctrl + enter to post</div>
                <input class="button" type="submit"/>
              </div>
            </div>
            </form>
          </section>
        </div>




            <article class="post" ng-repeat="item in buddycloud.data.items track by item.id" class="item" ng-if="!item.entry['in-reply-to']">
              <section class="opener ">
<div class="avatar" style="background-image:url('{{item.entry.atom.author.name|gravatar}}')" title="{{item.entry.atom.author.name}}"  ui-sref="node({'node':'/user/'+item.entry.atom.author.name+'/posts'})"></div>
                <div class="usermeta">
                  <div class="name">{{item.entry.atom.author.name|getUser}} {{getAffiliation(item.entry.atom.author.name)}}</div>
                  <div class="jid">{{item.entry.atom.author.name}}</div>
                </div>
                <div class="postmeta">
                    <span lass="date" am-time-ago="item.entry.atom.published"></span>
                  <button class="flat delete button" title="Delete Post" ng-if="item.remove" ng-click="item.remove()">✖</button>
                </div>
                <span class="name">vera<span class="domain">@buddycloud.com</span></span><span class="location">from Campus Library</span>
                <p>{{item.entry.atom.content.content}}</p>
              </section>
               <section class="comments"> 
                <section class="comment " ng-repeat="subitem in buddycloud.data.items|orderBy:'entry.atom.published' " ng-if="item.id == subitem.entry['in-reply-to'].ref">
<div class="avatar small" style="background-image:url('{{subitem.entry.atom.author.name|gravatar}}')"  title="{{subitem.entry.atom.author.name}}" ui-sref="node({'node':'/user/'+subitem.entry.atom.author.name+'/posts'})"></div>
                  <div class="usermeta" >
                    <div class="name">{{subitem.entry.atom.author.name|getUser}}</div>
                    <div class="jid">{{subitem.entry.atom.author.name}}</div>
                  </div>
                  <div class="postmeta">
                    <span lass="date" am-time-ago="subitem.entry.atom.published"></span>
                  <button class="flat delete button" title="Delete Post" ng-if="subitem.remove" ng-click="subitem.remove()">✖</button>
                  </div>
                  
                  <p>{{subitem.entry.atom.content.content}}</p>
                </section>
                <section class="answer" ng-class="{'write':write}" ng-show="item.reply">
<div class="avatar small" style="background-image:url('{{buddycloud.xmpp.data.me.jid|gravatar}}')"  title="{{buddycloud.xmpp.data.me.jid.user}}@{{buddycloud.xmpp.data.me.jid.domain}}"></div>
                <form ng-submit="item.reply(subtext);subtext=''">
                  <div class="holder">
                    <div class="expandingArea active">
                      <pre><span></span><br></pre>
                      <textarea placeholder="comment" ng-focus="write=true" ng-blur="write=false" ng-model="subtext" ng-keyup="($event.keyCode == 13 && $event.ctrlKey )? item.reply(subtext) : null" ></textarea>
                    </div>
                    <div class="controls clearfix">
                      <div class="hint">ctrl + enter to post</div>
                      <input class="button " type="submit"/>
                    </div>
                    </form>
                  </div>
                </section>
              </section>
            </article>

    </div>

    <div class="thediv" ng-if="$parent.showconfigform" style="position:relative;height:1300px">
            <h2>Node Configuration</h2>
            <xmppform formdata="buddycloud.data.config" onclose="$parent.$parent.showconfigform=false" onsave="setConfig"></xmppform>
            <hr>
            <button ng-click="deleteNode()">delete node</button>
    </div>




</div>

